<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fee_management">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fee_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fee_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fee_Management">
        <activity android:name=".Student.Student_HomeScreen"></activity>
        <activity android:name="com.example.fee_management.Admin.Admin.Admin_HomeScreen"></activity>
        <activity android:name="com.example.fee_management.Admin.Admin.Admin_Registration"></activity>
        <activity android:name=".Student.Student_Login"></activity>
        <activity android:name="com.example.fee_management.Admin.Admin.Admin_Login" />
        <activity android:name=".User_Mode" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>